.footer{
  position: absolute;
  bottom: 14px;
  width: 100%;
  &__socials{
    display: flex;
    flex-direction: row;
    gap: 18px;
  }
  &__copyrighting{
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.8);

  }

  &__main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__link{
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;

    &:hover{
      color: #FFFFFF;
    }
  }
}
