.contacts{
  display: flex;
  flex-direction: column;
  &__header{
    margin-bottom: 16px;
  }

  &__contacts{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  &__description{
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.7);
    padding: 35px 15px 0 0;


    &__header{
      font-weight: 700;
      font-size: 20px;
      line-height: 35px;
      color: #FFFFFF;
      text-decoration: none;
    }
  }

  &__form{
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.5);

    &__header{
      font-weight: 500;
      font-size: 28px;
      line-height: 35px;
    }

    &__wrapper{
      display: flex;
      flex-direction: row;
      width: 100%;
      column-gap: 34px;
      margin-top: 32px;
      margin-bottom: 27px;
    }

    &__left{
      display: flex;
      flex-direction: column;
      gap: 27px;
      width: 47%;
    }

    &__right{
      width: 53%;
    }

    &__input{
      width: 100%;
      border: 2px solid #555555;
      border-radius: 5px;
      height: 53px;
      background-color: transparent;
      align-items: center;
      padding-left: 20px;
    }

    &__textarea{
      border: 2px solid #555555;
      border-radius: 5px;
      background-color: transparent;
      width: 100%;
      height: 100%;
      padding: 6px 0 0 16px;
    }

    &__btn{
      width: calc(47% - 13.5px);
      height: 52px;
      background: #333333;
      border: 3px solid #007CED;
      border-radius: 30px;
      color: #FFFFFF;
    }
  }
}
